# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=sghss_user
DB_PASSWORD=sghss_pass
DB_NAME=sghss_db

# Configurações JWT
JWT_SECRET_KEY=sua-chave-secreta-aqui
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60
